* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.confirm {
    background: rgb(84, 196, 84);
    border: 0.1em solid rgb(23, 97, 23);
    color: rgb(23, 97, 23);
}

.cancel {
    background: rgb(214, 101, 124);
    border: 0.1em solid rgb(121, 11, 33);
    color: rgb(121, 11, 33);
}

#autor {
    cursor: pointer;
}

#logo {
    margin: 1em 0;
}

.dev {
    color: brown;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7em;
    text-align: center;
    margin: 1em;
}

.container p {
    margin: 1em;
}

.container span {
    font-weight: bold;
}

.container input {
    padding: 1vh 10vw;
    font-weight: bold;
}